Repository multiversx/mx-chain-go, pull requests merged in 2022-08, with the labels that each got.

#4327 Fixed import-db
  epochStart/metachain/epochStartData.go
  state/accountsDB.go
  state/accountsDB_test.go
  state/peerAccountsDB.go
  state/peerAccountsDB_test.go
Labels: type:bug, area:storage, area:trie, area:logs, complexity:high, impact:low, interested:protocol, size:small, priority:1-I&U

#4316 Signature handler component for consensus
  consensus/interface.go
  consensus/mock/consensusDataContainerMock.go
  consensus/mock/mockTestInitializer.go
  consensus/mock/signatureHandlerStub.go
  consensus/signing/errors.go
  consensus/signing/signing.go
  consensus/signing/signing_test.go
  consensus/spos/bls/subroundEndRound.go
  consensus/spos/bls/subroundEndRound_test.go
  consensus/spos/bls/subroundSignature.go
  consensus/spos/bls/subroundSignature_test.go
  consensus/spos/bls/subroundStartRound.go
  consensus/spos/consensusCore.go
  consensus/spos/consensusCoreValidator.go
  consensus/spos/consensusCoreValidator_test.go
  consensus/spos/consensusCore_test.go
  consensus/spos/errors.go
  consensus/spos/interface.go
  factory/consensus/consensusComponents.go
  go.sum
  testscommon/cryptoMocks/multiSignerContainerStub.go
  testscommon/cryptoMocks/multiSignerStub.go
Labels: area:consensus

#4330 EnableEpochsHandler new methods
  common/enablers/epochFlags.go
  common/interface.go
  go.mod
  go.sum
  integrationTests/testProcessorNode.go
  sharding/mock/enableEpochsHandlerMock.go
  testscommon/enableEpochsHandlerStub.go
Labels: low prio, complexity:trivial, impact:low, interested:wasm, interested:protocol, type:improvement

#4302 Trie storage manager without snapshot
  cmd/node/config/config.toml
  cmd/node/flags.go
  common/interface.go
  config/config.go
  dataRetriever/factory/storageResolversContainer/baseResolversContainerFactory.go
  dataRetriever/factory/storageResolversContainer/metaResolversContainerFactory_test.go
  dataRetriever/factory/storageResolversContainer/shardResolversContainerFactory_test.go
  epochStart/bootstrap/process_test.go
  epochStart/metachain/baseRewards_test.go
  epochStart/metachain/systemSCs_test.go
  factory/blockProcessorCreator_test.go
  factory/stateComponents_test.go
  genesis/process/genesisBlockCreator_test.go
  integrationTests/longTests/storage/storage_test.go
  integrationTests/testProcessorNode.go
  integrationTests/testSyncNode.go
  storage/factory/pruningStorerFactory.go
  testscommon/generalConfig.go
  testscommon/storage/storageManagerArgs.go
  testscommon/storageManagerStub.go
  trie/export_test.go
  trie/factory/trieCreator.go
  trie/factory/trieCreator_test.go
  trie/interface.go
  trie/trieStorageManager.go
  trie/trieStorageManagerFactory.go
  trie/trieStorageManagerFactory_test.go
  trie/trieStorageManagerWithoutCheckpoints.go
  trie/trieStorageManagerWithoutCheckpoints_test.go
  trie/trieStorageManagerWithoutPruning.go
  trie/trieStorageManagerWithoutPruning_test.go
  trie/trieStorageManagerWithoutSnapshot.go
  trie/trieStorageManagerWithoutSnapshot_test.go
  update/factory/dataTrieFactory.go
Labels: area:trie, complexity:high, interested:protocol, size:medium, type:improvement, type:refactoring

#4343 Always keep a minimum of 2 active dbs open
  storage/pruning/triePruningStorer.go
  storage/pruning/triePruningStorer_test.go
Labels: type:bug, area:storage, area:trie, complexity:trivial, impact:low, interested:protocol, size:small

#4341 Fix flag in import-db
  cmd/node/flags.go
Labels: type:bug, area:processing, area:trie, complexity:trivial, impact:low, interested:protocol, priority:1-I&U

#4345 Disabled storer on SaveInStorageEnabled false
  storage/disabled/storer.go
  storage/disabled/storer_test.go
  storage/factory/pruningStorerFactory.go
Labels: type:bug, area:node-api, area:storage, complexity:trivial, interested:protocol

#4338 En-11896 move constants to config
  cmd/node/config/config.toml
  config/config.go
  factory/coreComponents_test.go
  factory/networkComponents_test.go
  factory/processComponents.go
  factory/stateComponents_test.go
  process/block/poolsCleaner/basePoolsCleaner.go
  process/block/poolsCleaner/miniBlocksPoolsCleaner.go
  process/block/poolsCleaner/miniBlocksPoolsCleaner_test.go
  process/block/poolsCleaner/txsPoolsCleaner.go
  process/block/poolsCleaner/txsPoolsCleaner_test.go
  process/constants.go
  testscommon/generalConfig.go
Labels: low prio, area:storage, area:processing, complexity:trivial, impact:low, interested:protocol, type:refactoring

#4347 Merge dev into feat enable epochs
  cmd/node/config/config.toml
  config/config.go
  factory/coreComponents_test.go
  factory/networkComponents_test.go
  factory/processComponents.go
  factory/stateComponents_test.go
  process/block/poolsCleaner/basePoolsCleaner.go
  process/block/poolsCleaner/miniBlocksPoolsCleaner.go
  process/block/poolsCleaner/miniBlocksPoolsCleaner_test.go
  process/block/poolsCleaner/txsPoolsCleaner.go
  process/block/poolsCleaner/txsPoolsCleaner_test.go
  process/constants.go
  testscommon/generalConfig.go
Labels: ignore-for-release

#4350 Merge rc july into dev 2022.08.08
  cmd/node/config/config.toml
  common/interface.go
  config/config.go
  dataRetriever/factory/storageResolversContainer/baseResolversContainerFactory.go
  dataRetriever/factory/storageResolversContainer/metaResolversContainerFactory_test.go
  dataRetriever/factory/storageResolversContainer/shardResolversContainerFactory_test.go
  epochStart/bootstrap/process_test.go
  epochStart/metachain/baseRewards_test.go
  epochStart/metachain/epochStartData.go
  epochStart/metachain/systemSCs_test.go
  factory/blockProcessorCreator_test.go
  factory/stateComponents_test.go
  genesis/process/genesisBlockCreator_test.go
  integrationTests/longTests/storage/storage_test.go
  integrationTests/testProcessorNode.go
  integrationTests/testSyncNode.go
  state/accountsDB.go
  state/accountsDB_test.go
  state/peerAccountsDB.go
  state/peerAccountsDB_test.go
  storage/disabled/storer.go
  storage/disabled/storer_test.go
  storage/factory/pruningStorerFactory.go
  storage/pruning/triePruningStorer.go
  storage/pruning/triePruningStorer_test.go
  testscommon/generalConfig.go
  testscommon/storage/storageManagerArgs.go
  testscommon/storageManagerStub.go
  trie/export_test.go
  trie/factory/trieCreator.go
  trie/factory/trieCreator_test.go
  trie/interface.go
  trie/trieStorageManager.go
  trie/trieStorageManagerFactory.go
  trie/trieStorageManagerFactory_test.go
  trie/trieStorageManagerWithoutCheckpoints.go
  trie/trieStorageManagerWithoutCheckpoints_test.go
  trie/trieStorageManagerWithoutPruning.go
  trie/trieStorageManagerWithoutPruning_test.go
  trie/trieStorageManagerWithoutSnapshot.go
  trie/trieStorageManagerWithoutSnapshot_test.go
  update/factory/dataTrieFactory.go
Labels: ignore-for-release

#4355 Fix GitHub actions master
  .github/workflows/build_and_test.yml
  .github/workflows/code-coverage.yml
  .github/workflows/create_release.yml
  .github/workflows/deploy-docker.yml
  .github/workflows/deployment.yml
  .github/workflows/env
  .github/workflows/golangci-lint.yml
Labels: ignore-for-release

#4342 EN-12707: improve sc generation for system vm calls
  cmd/node/config/enableEpochs.toml
  common/enablers/enableEpochsHandler.go
  common/enablers/epochFlags.go
  common/interface.go
  config/epochConfig.go
  config/tomlConfig_test.go
  integrationTests/vm/delegation/delegationScenarios_test.go
  node/nodeRunner.go
  process/factory/metachain/vmContainerFactory.go
  sharding/mock/enableEpochsHandlerMock.go
  testscommon/enableEpochsHandlerStub.go
  vm/errors.go
  vm/systemSmartContracts/delegationManager_test.go
  vm/systemSmartContracts/delegation_test.go
  vm/systemSmartContracts/eei.go
  vm/systemSmartContracts/eei_test.go
  vm/systemSmartContracts/esdt_test.go
  vm/systemSmartContracts/stakingWithWaiting_test.go
  vm/systemSmartContracts/staking_test.go
  vm/systemSmartContracts/validator_test.go
Labels: area:sc-processing, area:system-vm, impact:high, interested:sc, interested:protocol, complexity:medium

#4353 On API, fix GetAccountWithBlockInfo()
  state/accountsDBApi.go
  state/accountsDBApi_test.go
  state/export_test.go
Labels: type:bug, area:node-api, complexity:trivial, size:small, interested:rosetta

#4365 Enable snapshot even if pruning is disabled
  process/block/shardblock.go
Labels: type:bug, area:trie, impact:medium, interested:protocol, size:small, complexity:medium

#4369 change label name to ignore-for-release-notes
  .github/release.yml
Labels: ignore-for-release-notes

#4373 Increased HardforkTimeBetweenSendsInSec to 1 minute
  cmd/node/config/config.toml
  heartbeat/sender/baseSender.go
  heartbeat/sender/baseSender_test.go
  heartbeat/sender/heartbeatSender.go
  heartbeat/sender/peerAuthenticationSender.go
Labels: ignore-for-release-notes

#4352 Unit tests
  consensus/spos/bls/blsSubroundsFactory_test.go
  consensus/spos/sposFactory/sposFactory_test.go
  factory/processComponents_test.go
  integrationTests/testProcessorNode.go
  integrationTests/testSyncNode.go
  outport/mock/economicsDataMock.go
  outport/process/factory/check.go
  outport/process/factory/check_test.go
  outport/process/factory/outportDataProviderFactory.go
  outport/process/factory/outportDataProviderFactory_test.go
  outport/process/interface.go
  outport/process/outportDataProvider_test.go
  outport/process/transactionsfee/dataHolders.go
  outport/process/transactionsfee/dataHolders_test.go
  outport/process/transactionsfee/transactionsFeeProcessor.go
  outport/process/transactionsfee/transactionsFeeProcessor_test.go
  process/block/baseProcess_test.go
  process/block/export_test.go
  process/block/metablock_test.go
  process/block/preprocess/scheduledTxsExecution_test.go
  process/block/shardblock_test.go
  process/sync/metablock_test.go
  process/sync/shardblock_test.go
  testscommon/alteredAccountsProviderStub.go
  testscommon/outport/outportDataProviderStub.go
  testscommon/outport/outportStub.go
  testscommon/shardingMocks/nodesCoordinatorMock.go
  testscommon/transactionCoordinatorMock.go
Labels: area:indexer, impact:low, size:medium, complexity:medium

#4370 Do not start state sync if the node is closing
  process/sync/metablock.go
  process/sync/shardblock.go
Labels: area:sync, complexity:trivial, impact:low, interested:protocol, size:small, type:improvement

#4383 Fix peer on channel test
  p2p/libp2p/peersOnChannel_test.go
Labels: ignore-for-release-notes

#4382 Complete refactor of the timeCacher implementation
  dataRetriever/factory/dataPoolFactory.go
  integrationTests/consensus/testInitializer.go
  integrationTests/mock/timeCacherStub.go
  integrationTests/p2p/antiflood/blacklist/blacklist_test.go
  node/mock/timeCacheStub.go
  node/options_test.go
  process/factory/interceptorscontainer/metaInterceptorsContainerFactory_test.go
  process/factory/interceptorscontainer/shardInterceptorsContainerFactory_test.go
  process/interceptors/processor/hdrInterceptorProcessor_test.go
  process/mock/blackListHandlerStub.go
  process/mock/timeCacheStub.go
  process/rating/peerHonesty/peerHonesty_test.go
  process/sync/baseForkDetector_test.go
  process/sync/metaForkDetector_test.go
  process/sync/metablock_test.go
  process/sync/shardForkDetector_test.go
  process/sync/shardblock_test.go
  process/throttle/antiflood/blackList/peerDenialEvaluator_test.go
  storage/interface.go
  storage/mapTimeCache/mapTimeCache.go
  storage/mock/sweepHandlerStub.go
  storage/mock/timeCacheStub.go
  storage/timecache/export_test.go
  storage/timecache/peerTimeCache_test.go
  storage/timecache/timeCache.go
  storage/timecache/timeCacheCore.go
  storage/timecache/timeCacheCore_test.go
  storage/timecache/timeCache_test.go
  storage/timecache/timeCacher.go
  storage/timecache/timeCacher_test.go
  testscommon/dataRetriever/poolFactory.go
  testscommon/dataRetriever/poolsHolderMock.go
Labels: type:bug, area:storage, area:heartbeat, impact:high, interested:protocol, size:medium, type:refactoring, priority:1-I&U, complexity:medium

#4378 Heartbeat v2 related fixes
  cmd/node/config/config.toml
  common/interface.go
  common/pidQueue.go
  common/pidQueue_test.go
  consensus/spos/worker.go
  consensus/spos/worker_test.go
  dataRetriever/resolvers/peerAuthenticationResolver_test.go
  epochStart/bootstrap/disabled/disabledPeerShardMapper.go
  factory/consensusComponents.go
  factory/processComponents.go
  heartbeat/sender/heartbeatSender.go
  heartbeat/sender/heartbeatSender_test.go
  heartbeat/sender/sender_test.go
  integrationTests/interface.go
  integrationTests/mock/networkShardingCollectorMock.go
  integrationTests/mock/peerShardMapperStub.go
  integrationTests/testHeartbeatNode.go
  integrationTests/testP2PNode.go
  p2p/peersHolder/peersHolder.go
  process/interface.go
  process/mock/peerShardMapperStub.go
  sharding/networksharding/export_test.go
  sharding/networksharding/peerShardMapper.go
  sharding/networksharding/peerShardMapper_test.go
  sharding/networksharding/pidQueue.go
  sharding/networksharding/pidQueue_test.go
  testscommon/p2pmocks/networkShardingCollectorStub.go
Labels: type:bug, area:consensus, area:heartbeat, complexity:trivial, impact:medium, interested:protocol

#4384 Fix import-db flags (NumActivePersisters)
  cmd/node/flags.go
Labels: complexity:trivial, impact:low, size:small, type:improvement, area:import-db

#4371 Implement queries for historical balances (state)
  api/groups/addressGroup.go
  api/groups/addressGroupOptions.go
  api/groups/addressGroupOptions_test.go
  api/groups/urlParams.go
  api/groups/urlParams_test.go
  common/holders/rootHashHolder.go
  common/holders/rootHashHolder_test.go
  common/interface.go
  factory/stateComponents.go
  go.mod
  go.mod.todo
  go.sum
  integrationTests/node/getAccount/getAccount_test.go
  integrationTests/testProcessorNode.go
  node/export_test.go
  node/node.go
  node/nodeBlocks.go
  node/nodeLoadAccounts.go
  node/nodeLoadAccounts_test.go
  node/node_test.go
  process/common.go
  process/common_test.go
  state/accountsDBApi.go
  state/accountsDBApiWithHistory.go
  state/accountsDBApiWithHistory_test.go
  state/accountsDBApi_test.go
  state/accountsRepository.go
  state/accountsRepository_test.go
  state/factory/accountsAdapterAPICreator.go
  state/factory/accountsAdapterAPICreator_test.go
  state/interface.go
  testscommon/genericMocks/chainStorerMock.go
  testscommon/ginServerWithRawQuery.go
  testscommon/state/accountsAdapterStub.go
Labels: type:feature, area:node-api, size:medium, complexity:medium, interested:rosetta

#4381 Integrate named identities
  cmd/node/config/prefs.toml
  config/prefsConfig.go
  keysManagement/errors.go
  keysManagement/keysHolder.go
  keysManagement/keysHolder_test.go
  keysManagement/peerInfo.go
Labels: complexity:trivial, impact:low, interested:protocol, size:small, type:refactoring, area:multikey

#4390 Fix direct connections processor
  factory/heartbeatV2Components.go
  heartbeat/processor/directConnectionsProcessor.go
  heartbeat/processor/directConnectionsProcessor_test.go
  heartbeat/processor/export_test.go
  heartbeat/processor/interface.go
  integrationTests/node/heartbeat/heartbeat_test.go
  integrationTests/node/heartbeatV2/heartbeatV2_test.go
  integrationTests/p2p/networkSharding-hbv2/networkSharding_test.go
  integrationTests/testHeartbeatNode.go
  process/errors.go
Labels: type:bug, area:libp2p, area:heartbeat, impact:low, interested:protocol, size:small, complexity:medium

#4385 Switch heartbeat v2 to single data interceptor as multi data is not needed
  heartbeat/sender/heartbeatSender.go
  integrationTests/testHeartbeatNode.go
  process/factory/interceptorscontainer/baseInterceptorsContainerFactory.go
Labels: area:processing, area:heartbeat, complexity:trivial, impact:low, interested:protocol, size:small, type:improvement

#4393 remove destroy persisters calls
  storage/factory/pruningStorerFactory.go
  storage/storageUnit/storageunit.go
Labels: area:storage, complexity:trivial, impact:low, interested:protocol

#4388 Recreate trie from epoch
  common/holders/rootHashHolder.go
  common/holders/rootHashHolder_test.go
  common/interface.go
  epochStart/bootstrap/disabled/disabledAccountsAdapter.go
  node/nodeLoadAccounts.go
  process/txsimulator/wrappedAccountsDB.go
  state/accountsDB.go
  state/accountsDBApi.go
  state/accountsDBApiWithHistory.go
  state/accountsDBApiWithHistory_test.go
  state/accountsDB_test.go
  state/interface.go
  storage/factory/pruningStorerFactory.go
  storage/pruning/export_test.go
  storage/pruning/fullHistoryTriePruningStorer.go
  storage/pruning/fullHistoryTriePruningStorer_test.go
  storage/pruning/interface.go
  testscommon/snapshotPruningStorerMock.go
  testscommon/state/accountsAdapterStub.go
  testscommon/storage/storageManagerArgs.go
  testscommon/storageManagerStub.go
  testscommon/trie/snapshotPruningStorerStub.go
  testscommon/trie/trieStub.go
  trie/errors.go
  trie/export_test.go
  trie/interface.go
  trie/node.go
  trie/patriciaMerkleTrie.go
  trie/patriciaMerkleTrie_test.go
  trie/snapshotTrieStorageManager.go
  trie/snapshotTrieStorageManager_test.go
  trie/trieStorageManager.go
  trie/trieStorageManagerFactory_test.go
  trie/trieStorageManagerInEpoch.go
  trie/trieStorageManagerInEpoch_test.go
  trie/trieStorageManagerWithoutCheckpoints.go
  trie/trieStorageManagerWithoutPruning.go
  trie/trieStorageManagerWithoutPruning_test.go
  trie/trieStorageManagerWithoutSnapshot.go
Labels: area:node-api, area:trie, complexity:high, size:medium, type:improvement, interested:rosetta

#4389 indexer with fixes
  go.mod
  go.sum
  integrationTests/mock/databaseWritterMock.go
  integrationTests/vm/testIndexer.go
Labels: type:bug, dependencies, area:indexer, impact:medium, interested:explorer, interested:api-elrond-com, size:medium, complexity:medium

#4395 En 12987 add multiple allowed addresses
  cmd/keygenerator/main.go
  cmd/node/config/config.toml
  config/config.go
  factory/addressDecoder.go
  factory/addressDecoder_test.go
  factory/apiResolverFactory.go
  factory/blockProcessorCreator.go
  factory/export_test.go
  factory/stateComponents_test.go
  genesis/process/shardGenesisBlockCreator.go
  integrationTests/testBuiltinFunction.go
  integrationTests/testProcessorNode.go
  integrationTests/testProcessorNodeWithTestWebServer.go
  integrationTests/vm/arwen/utils.go
  integrationTests/vm/testInitializer.go
  process/errors.go
  process/smartContract/builtInFunctions/factory.go
  process/smartContract/builtInFunctions/factory_test.go
  testscommon/generalConfig.go
Labels: area:sc-processing, interested:protocol, type:improvement

#4391 Add code-hash endpoint to address group
  api/errors/errors.go
  api/groups/addressGroup.go
  api/groups/addressGroup_test.go
  api/mock/facadeStub.go
  api/shared/interface.go
  cmd/node/config/api.toml
  facade/initial/initialNodeFacade.go
  facade/interface.go
  facade/mock/nodeStub.go
  facade/nodeFacade.go
  facade/nodeFacade_test.go
  integrationTests/interface.go
  integrationTests/testProcessorNodeWithTestWebServer.go
  node/node.go
  node/node_test.go
Labels: type:feature, area:node-api, complexity:trivial, interested:web, interested:api-elrond-com, interested:dapp-sdks, interested:validator, size:small, priority:4-!i&!u

#4377 Unit tests for feat/refactor-peers-mbs
  epochStart/metachain/validators_test.go
  epochStart/shardchain/peerMiniBlocksSyncer_test.go
  epochStart/shardchain/trigger_test.go
  process/block/export_test.go
  process/block/metablock_test.go
  process/block/preprocess/validatorInfoPreProcessor_test.go
  sharding/nodesCoordinator/indexHashedNodesCoordinator_test.go
  testscommon/shardedDataStub.go
  update/genesis/export_test.go
  update/sync/syncTransactions_test.go
Labels: interested:protocol, area:integration-tests

#4403 External codehash endpoint
  api/errors/errors.go
  api/groups/addressGroup.go
  api/groups/addressGroup_test.go
  api/mock/facadeStub.go
  api/shared/interface.go
  cmd/node/config/api.toml
  facade/initial/initialNodeFacade.go
  facade/interface.go
  facade/mock/nodeStub.go
  facade/nodeFacade.go
  facade/nodeFacade_test.go
  integrationTests/interface.go
  integrationTests/testProcessorNodeWithTestWebServer.go
  node/node.go
  node/node_test.go
Labels: area:node-api, complexity:trivial, impact:low

#4407 Remove mutex use in interceptor
  process/interceptors/singleDataInterceptor.go
Labels: type:bug, area:processing, complexity:trivial, impact:low, size:small

#4410 Fix heartbeat monitor to properly set peer type
  factory/heartbeatV2Components.go
  heartbeat/monitor/monitor.go
  heartbeat/monitor/monitor_test.go
Labels: type:bug, area:node-api, area:heartbeat, complexity:trivial, impact:low, interested:protocol, interested:validator

#4368 Stub generator
  scripts/generators/stubGenerator.sh
Labels: ignore-for-release-notes

#4394 Multikey peer authentication sender integration
  consensus/interface.go
  consensus/mock/messengerStub.go
  heartbeat/errors.go
  heartbeat/interface.go
  heartbeat/mock/messengerStub.go
  heartbeat/sender/commonPeerAuthenticationSender.go
  heartbeat/sender/multikeyPeerAuthenticationSender.go
  heartbeat/sender/multikeyPeerAuthenticationSender_test.go
  heartbeat/sender/peerAuthenticationSender.go
  keysManagement/interface.go
  keysManagement/keysHolder.go
  keysManagement/keysHolder_test.go
  keysManagement/peerInfo.go
  p2p/crypto/p2pSigner.go
  p2p/crypto/p2pSigner_test.go
  p2p/libp2p/interface.go
  p2p/libp2p/netMessenger.go
  p2p/libp2p/netMessenger_test.go
  p2p/p2p.go
  testscommon/keysHolderStub.go
  testscommon/p2pmocks/messengerStub.go
Labels: area:heartbeat, complexity:trivial, impact:low, interested:protocol, type:refactoring, area:multikey

#4424 Fix duplicated txs into tx pool api response
  node/external/transactionAPI/apiTransactionProcessor.go
  node/external/transactionAPI/apiTransactionProcessor_test.go
Labels: type:bug, area:node-api, complexity:trivial, impact:low, interested:api-elrond-com, interested:protocol
