Repository multiversx/mx-chain-go, pull requests merged in 2022-09, with the labels that each got.

#4421 Send public key on heartbeatv2 message
  heartbeat/heartbeat.pb.go
  heartbeat/monitor/monitor.go
  heartbeat/monitor/monitor_test.go
  heartbeat/processor/peerAuthenticationRequestsProcessor.go
  heartbeat/proto/heartbeat.proto
  heartbeat/sender/baseSender.go
  heartbeat/sender/baseSender_test.go
  heartbeat/sender/heartbeatSender.go
  heartbeat/sender/heartbeatSender_test.go
  heartbeat/sender/peerAuthenticationSender.go
  heartbeat/sender/peerAuthenticationSender_test.go
  heartbeat/sender/sender.go
  process/heartbeat/interceptedHeartbeat.go
  process/heartbeat/interceptedHeartbeat_test.go
  process/interceptors/factory/interceptedHeartbeatDataFactory_test.go
  process/interceptors/processor/heartbeatInterceptorProcessor_test.go
Labels: type:bug, area:sc-processing, area:heartbeat, area:proxy-api, complexity:trivial, impact:low, interested:protocol

#4420 Optimized peer authentication messages management
  dataRetriever/factory/resolverscontainer/args.go
  dataRetriever/factory/resolverscontainer/baseResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/metaResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/metaResolversContainerFactory_test.go
  dataRetriever/factory/resolverscontainer/shardResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/shardResolversContainerFactory_test.go
  dataRetriever/resolvers/peerAuthenticationResolver.go
  dataRetriever/resolvers/peerAuthenticationResolver_test.go
  epochStart/bootstrap/process.go
  factory/processComponents.go
  heartbeat/sender/peerAuthenticationSender.go
  integrationTests/interface.go
  integrationTests/node/heartbeat/heartbeat_test.go
  integrationTests/node/heartbeatV2/heartbeatV2_test.go
  integrationTests/testHeartbeatNode.go
  integrationTests/testProcessorNode.go
  process/heartbeat/interceptedHeartbeat.go
  process/heartbeat/interceptedHeartbeat_test.go
  process/heartbeat/interceptedPeerAuthentication.go
  process/heartbeat/interceptedPeerAuthentication_test.go
  process/interceptors/factory/interceptedHeartbeatDataFactory.go
  process/interceptors/processor/directConnectionInfoInterceptorProcessor_test.go
  process/interceptors/processor/heartbeatInterceptorProcessor_test.go
  process/interceptors/processor/peerAuthenticationInterceptorProcessor.go
  process/interceptors/processor/peerAuthenticationInterceptorProcessor_test.go
  process/interface.go
  sharding/networksharding/peerShardMapper.go
  sharding/networksharding/peerShardMapper_test.go
  storage/timecache/timeCacheCore.go
  storage/timecache/timeCacheCore_test.go
  storage/timecache/timeCacher.go
  storage/timecache/timeCacher_test.go
Labels: type:bug, area:storage, area:processing, area:heartbeat, impact:medium, interested:api-elrond-com, interested:protocol, interested:validator, size:small, type:refactoring, complexity:medium

#4412 check http error code on post request
  outport/notifier/httpClient.go
  outport/notifier/httpClient_test.go
Labels: type:bug, area:processing, area:indexer, complexity:trivial, impact:low, interested:protocol, size:small

#4427 Added and integrated peerAuthenticationPayloadValidator component
  dataRetriever/errors.go
  dataRetriever/factory/resolverscontainer/args.go
  dataRetriever/factory/resolverscontainer/baseResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/metaResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/metaResolversContainerFactory_test.go
  dataRetriever/factory/resolverscontainer/shardResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/shardResolversContainerFactory_test.go
  dataRetriever/interface.go
  dataRetriever/resolvers/peerAuthenticationResolver.go
  dataRetriever/resolvers/peerAuthenticationResolver_test.go
  epochStart/bootstrap/process.go
  factory/coreComponents_test.go
  factory/processComponents.go
  integrationTests/node/heartbeat/heartbeat_test.go
  integrationTests/node/heartbeatV2/heartbeatV2_test.go
  integrationTests/testHeartbeatNode.go
  integrationTests/testProcessorNode.go
  process/errors.go
  process/heartbeat/constants.go
  process/heartbeat/interceptedPeerAuthentication.go
  process/heartbeat/interceptedPeerAuthentication_test.go
  process/heartbeat/validator/peerAuthenticationPayloadValidator.go
  process/heartbeat/validator/peerAuthenticationPayloadValidator_test.go
  process/interceptors/factory/interceptedPeerAuthenticationDataFactory.go
  process/interceptors/processor/peerAuthenticationInterceptorProcessor_test.go
  process/interface.go
  testscommon/peerAuthenticationPayloadValidatorStub.go
Labels: area:libp2p, area:processing, area:heartbeat, impact:low, interested:protocol, type:improvement, type:refactoring, complexity:medium

#4414 Peer authentication sender factory
  cmd/node/config/config.toml
  config/config.go
  errors/errors.go
  factory/cryptoComponents.go
  factory/cryptoComponentsHandler.go
  factory/cryptoComponentsHandler_test.go
  factory/cryptoComponents_test.go
  factory/heartbeatV2Components.go
  factory/heartbeatV2Components_test.go
  factory/interface.go
  factory/mock/cryptoComponentsMock.go
  heartbeat/errors.go
  heartbeat/sender/interface.go
  heartbeat/sender/peerAuthenticationSenderFactory.go
  heartbeat/sender/peerAuthenticationSenderFactory_test.go
  heartbeat/sender/sender.go
  heartbeat/sender/sender_test.go
  integrationTests/mock/cryptoComponentsStub.go
  integrationTests/testHeartbeatNode.go
  integrationTests/testProcessorNode.go
  keysManagement/keysHolder.go
  keysManagement/keysHolder_test.go
  node/mock/factory/cryptoComponentsStub.go
  testscommon/generalConfig.go
Labels: area:heartbeat, complexity:trivial, impact:low, interested:protocol, type:refactoring, area:multikey

#4432 Fixed integration test in rc/2022-july
  integrationTests/testHeartbeatNode.go
Labels: ignore-for-release-notes

#4437 Fix heartbeat v2 metrics update
  cmd/node/config/config.toml
  config/config.go
  factory/heartbeatV2Components.go
  factory/heartbeatV2Components_test.go
  factory/interface.go
  heartbeat/monitor/monitor.go
  heartbeat/monitor/monitor_test.go
  heartbeat/sender/heartbeatSender.go
  heartbeat/sender/heartbeatSender_test.go
  heartbeat/sender/sender.go
  heartbeat/sender/sender_test.go
  integrationTests/testHeartbeatNode.go
  integrationTests/testProcessorNode.go
  testscommon/cacherMock.go
  testscommon/generalConfig.go
Labels: type:bug, area:heartbeat, complexity:trivial, interested:protocol

#4436 Fix hb v2 metrics issues + hb status returned
  cmd/node/config/config.toml
  config/config.go
  factory/heartbeatV2Components.go
  factory/heartbeatV2Components_test.go
  factory/interface.go
  heartbeat/monitor/monitor.go
  heartbeat/monitor/monitor_test.go
  heartbeat/process/monitor.go
  heartbeat/process/monitor_test.go
  heartbeat/sender/heartbeatSender.go
  heartbeat/sender/heartbeatSender_test.go
  heartbeat/sender/sender.go
  heartbeat/sender/sender_test.go
  integrationTests/testHeartbeatNode.go
  integrationTests/testProcessorNode.go
  testscommon/cacherMock.go
  testscommon/generalConfig.go
Labels: type:bug, area:node-api, area:heartbeat, impact:low, interested:protocol, size:small, complexity:medium

#4440 Add new flags (useful for some observers): "serialize-snapshots", "disable-consensus-watchdog"
  cmd/node/flags.go
  config/contextFlagsConfig.go
  factory/consensusComponents.go
  factory/stateComponents.go
  node/nodeRunner.go
  state/accountsDB.go
  state/accountsDB_test.go
  state/export_test.go
  state/peerAccountsDB.go
Labels: complexity:trivial, size:small, interested:rosetta

#4443 Dev to rc v1.4.0 2022.09.07
  api/errors/errors.go
  api/groups/addressGroup.go
  api/groups/addressGroup_test.go
  api/mock/facadeStub.go
  api/shared/interface.go
  cmd/node/config/api.toml
  facade/initial/initialNodeFacade.go
  facade/interface.go
  facade/mock/nodeStub.go
  facade/nodeFacade.go
  facade/nodeFacade_test.go
  integrationTests/interface.go
  integrationTests/testProcessorNodeWithTestWebServer.go
  node/node.go
  node/node_test.go
Labels: ignore-for-release-notes

#4435 Adapt components for side chain
  process/sync/metaForkDetector.go
  process/sync/shardForkDetector.go
  process/sync/sideChainShardForkDetector.go
  process/sync/sideChainShardForkDetector_test.go
  process/track/blockProcessor.go
  process/track/export_test.go
  process/track/sideChainBlockProcessor.go
  process/track/sideChainBlockProcessor_test.go
  process/track/sideChainShardBlockTrack.go
  process/track/sideChainShardBlockTrack_test.go
Labels: interested:protocol, interested:validator

#4439 Further hb v2 fixes
  cmd/node/config/config.toml
  cmd/termui/presenter/chainInfoGetters.go
  cmd/termui/presenter/instanceInfoGetters.go
  cmd/termui/view/interface.go
  cmd/termui/view/termuic/termuiRenders/widgetsRender.go
  common/constants.go
  config/config.go
  dataRetriever/factory/dataPoolFactory.go
  dataRetriever/factory/dataPoolFactory_test.go
  dataRetriever/factory/resolverscontainer/args.go
  dataRetriever/factory/resolverscontainer/baseResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/metaResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/metaResolversContainerFactory_test.go
  dataRetriever/factory/resolverscontainer/shardResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/shardResolversContainerFactory_test.go
  dataRetriever/interface.go
  dataRetriever/mock/peerAuthenticationResolverStub.go
  dataRetriever/requestHandlers/requestHandler.go
  dataRetriever/requestHandlers/requestHandler_test.go
  dataRetriever/resolvers/disabled/peerAuthenticationResolver.go
  dataRetriever/resolvers/disabled/peerAuthenticatorResolver_test.go
  dataRetriever/resolvers/peerAuthenticationResolver.go
  dataRetriever/resolvers/peerAuthenticationResolver_test.go
  epochStart/bootstrap/process.go
  factory/heartbeatV2Components.go
  factory/heartbeatV2Components_test.go
  factory/interface.go
  factory/processComponents.go
  genesis/process/disabled/requestHandler.go
  heartbeat/errors.go
  heartbeat/interface.go
  heartbeat/mock/heartbeatMonitorStub.go
  heartbeat/mock/heartbeatSenderInfoProviderStub.go
  heartbeat/monitor/monitor.go
  heartbeat/monitor/monitor_test.go
  heartbeat/process/monitor.go
  heartbeat/processor/peerAuthenticationRequestsProcessor.go
  heartbeat/processor/peerAuthenticationRequestsProcessor_test.go
  heartbeat/sender/heartbeatSender.go
  heartbeat/sender/heartbeatSender_test.go
  heartbeat/sender/sender.go
  heartbeat/sender/sender_test.go
  heartbeat/status/export_test.go
  heartbeat/status/interface.go
  heartbeat/status/metricsUpdater.go
  heartbeat/status/metricsUpdater_test.go
  integrationTests/node/heartbeatV2/heartbeatV2_test.go
  integrationTests/testHeartbeatNode.go
  integrationTests/testProcessorNode.go
  node/nodeRunner.go
  process/interface.go
  storage/timecache/export_test.go
  storage/timecache/timeCacher.go
  storage/timecache/timeCacher_test.go
  testscommon/generalConfig.go
  testscommon/requestHandlerStub.go
  testscommon/shardingMocks/nodesCoordinatorStub.go
Labels: type:bug, area:heartbeat, area:proxy-api, complexity:high, impact:medium, interested:explorer, interested:web, interested:api-elrond-com, interested:protocol, size:medium, type:improvement, type:refactoring

#4441 Feat/heartbeat fixes
  cmd/node/config/config.toml
  cmd/termui/presenter/chainInfoGetters.go
  cmd/termui/presenter/instanceInfoGetters.go
  cmd/termui/view/interface.go
  cmd/termui/view/termuic/termuiRenders/widgetsRender.go
  common/constants.go
  config/config.go
  dataRetriever/factory/dataPoolFactory.go
  dataRetriever/factory/dataPoolFactory_test.go
  dataRetriever/factory/resolverscontainer/args.go
  dataRetriever/factory/resolverscontainer/baseResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/metaResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/metaResolversContainerFactory_test.go
  dataRetriever/factory/resolverscontainer/shardResolversContainerFactory.go
  dataRetriever/factory/resolverscontainer/shardResolversContainerFactory_test.go
  dataRetriever/interface.go
  dataRetriever/mock/peerAuthenticationResolverStub.go
  dataRetriever/requestHandlers/requestHandler.go
  dataRetriever/requestHandlers/requestHandler_test.go
  dataRetriever/resolvers/disabled/peerAuthenticationResolver.go
  dataRetriever/resolvers/disabled/peerAuthenticatorResolver_test.go
  dataRetriever/resolvers/peerAuthenticationResolver.go
  dataRetriever/resolvers/peerAuthenticationResolver_test.go
  epochStart/bootstrap/process.go
  factory/heartbeatV2Components.go
  factory/heartbeatV2Components_test.go
  factory/processComponents.go
  genesis/process/disabled/requestHandler.go
  heartbeat/errors.go
  heartbeat/interface.go
  heartbeat/mock/heartbeatMonitorStub.go
  heartbeat/mock/heartbeatSenderInfoProviderStub.go
  heartbeat/monitor/monitor.go
  heartbeat/monitor/monitor_test.go
  heartbeat/process/monitor.go
  heartbeat/process/monitor_test.go
  heartbeat/processor/peerAuthenticationRequestsProcessor.go
  heartbeat/processor/peerAuthenticationRequestsProcessor_test.go
  heartbeat/sender/heartbeatSender.go
  heartbeat/sender/heartbeatSender_test.go
  heartbeat/sender/sender.go
  heartbeat/sender/sender_test.go
  heartbeat/status/export_test.go
  heartbeat/status/interface.go
  heartbeat/status/metricsUpdater.go
  heartbeat/status/metricsUpdater_test.go
  integrationTests/node/heartbeatV2/heartbeatV2_test.go
  integrationTests/testHeartbeatNode.go
  integrationTests/testProcessorNode.go
  node/nodeRunner.go
  process/interface.go
  storage/timecache/export_test.go
  storage/timecache/timeCacher.go
  storage/timecache/timeCacher_test.go
  testscommon/cacherMock.go
  testscommon/generalConfig.go
  testscommon/requestHandlerStub.go
  testscommon/shardingMocks/nodesCoordinatorStub.go
Labels: ignore-for-release-notes

#4366 Open more dbs if necessary
  epochStart/bootstrap/metaStorageHandler.go
  epochStart/bootstrap/process.go
  epochStart/bootstrap/shardStorageHandler.go
  factory/dataComponents.go
  factory/processComponents.go
  integrationTests/multiShard/endOfEpoch/startInEpoch/startInEpoch_test.go
  storage/errors.go
  storage/factory/pruningStorerFactory.go
  storage/pruning/export_test.go
  storage/pruning/fullHistoryPruningStorer_test.go
  storage/pruning/fullHistoryTriePruningStorer.go
  storage/pruning/interface.go
  storage/pruning/persistersTracker.go
  storage/pruning/persistersTracker_test.go
  storage/pruning/pruningStorer.go
  storage/pruning/pruningStorerArgs.go
  storage/pruning/pruningStorer_test.go
  storage/pruning/triePersistersTracker.go
  storage/pruning/triePersistersTracker_test.go
  storage/pruning/triePruningStorer.go
  storage/pruning/triePruningStorer_test.go
  testscommon/state/testTriePruningStorer.go
Labels: type:bug, area:storage, complexity:high, impact:low, interested:protocol, size:small

#4449 Merge feat kosk multisiner into consensus separate imports
  factory/heartbeat/heartbeatV2Components.go
  heartbeat/heartbeat.pb.go
  heartbeat/monitor/monitor.go
  heartbeat/monitor/monitor_test.go
  heartbeat/processor/peerAuthenticationRequestsProcessor.go
  heartbeat/proto/heartbeat.proto
  heartbeat/sender/baseSender.go
  heartbeat/sender/baseSender_test.go
  heartbeat/sender/heartbeatSender.go
  heartbeat/sender/heartbeatSender_test.go
  heartbeat/sender/peerAuthenticationSender.go
  heartbeat/sender/peerAuthenticationSender_test.go
  heartbeat/sender/sender.go
  node/external/transactionAPI/apiTransactionProcessor.go
  node/external/transactionAPI/apiTransactionProcessor_test.go
  process/block/preprocess/gasComputation.go
  process/heartbeat/interceptedHeartbeat.go
  process/heartbeat/interceptedHeartbeat_test.go
  process/interceptors/factory/interceptedHeartbeatDataFactory_test.go
  process/interceptors/processor/heartbeatInterceptorProcessor_test.go
  process/interceptors/singleDataInterceptor.go
  storage/pruning/fullHistoryTriePruningStorer.go
Labels: ignore-for-release-notes

#4450 Fix missing epoch on peer authentication messages requests
  dataRetriever/requestHandlers/requestHandler.go
  dataRetriever/resolvers/peerAuthenticationResolver.go
  dataRetriever/resolvers/peerAuthenticationResolver_test.go
Labels: type:bug, area:processing, area:heartbeat, complexity:trivial, impact:low, interested:protocol

#4416 Integrate heartbeat sender
  heartbeat/interface.go
  heartbeat/sender/commonHeartbeatSender.go
  heartbeat/sender/heartbeatSender.go
  heartbeat/sender/multikeyHeartbeatSender.go
  heartbeat/sender/multikeyHeartbeatSender_test.go
  keysManagement/keysHolder.go
  testscommon/keysHolderStub.go
Labels: area:heartbeat, complexity:trivial, impact:low, interested:protocol, type:refactoring, area:multikey

#4451 Merge rc july into rc 1.4.0 11.09.2022
  dataRetriever/requestHandlers/requestHandler.go
  dataRetriever/resolvers/peerAuthenticationResolver.go
  dataRetriever/resolvers/peerAuthenticationResolver_test.go
Labels: ignore-for-release-notes

#4431 Refactor GetDataForSigning for transaction
  examples/construction_test.go
  go.mod
  go.sum
  integrationTests/multiShard/relayedTx/common.go
  integrationTests/multiShard/transaction/txRouting/txRouting_test.go
  integrationTests/multiShard/txScenarios/common.go
  integrationTests/singleShard/transaction/interceptedBulkTx/interceptedBulkTx_test.go
  integrationTests/singleShard/transaction/interceptedResolvedTx/interceptedResolvedTx_test.go
  integrationTests/testInitializer.go
  integrationTests/testNetwork.go
  node/nodeTesting.go
  process/transaction/interceptedTransaction.go
Labels: area:processing, complexity:trivial, interested:protocol, type:refactoring

#4459 State snapshot improvement
  storage/pruning/triePruningStorer.go
  storage/pruning/triePruningStorer_test.go
  testscommon/snapshotPruningStorerMock.go
  testscommon/trie/snapshotPruningStorerStub.go
  trie/interface.go
  trie/snapshotTrieStorageManager.go
  trie/snapshotTrieStorageManager_test.go
  trie/trieStorageManager.go
  trie/trieStorageManager_test.go
Labels: area:trie, impact:medium, interested:protocol, size:medium, type:improvement, complexity:medium

#4404 Prevent parallel snapshots
  state/accountsDB.go
  state/accountsDB_test.go
  state/peerAccountsDB.go
Labels: area:trie, impact:low, interested:protocol, size:small, type:improvement, type:refactoring, complexity:medium

#4452 Outport driver stuck prints
  outport/outport.go
  outport/outport_test.go
Labels: area:logs, complexity:trivial, impact:low, interested:tools, interested:protocol, interested:validator, size:small, type:improvement

#4471 Improve logging for "get from epoch"
  trie/trieStorageManagerInEpoch.go
Labels: ignore-for-release-notes

#4477 Create static storer for meta if snapshots are disabled
  storage/factory/pruningStorerFactory.go
Labels: type:bug, area:storage, area:trie, complexity:trivial, impact:medium, interested:protocol, size:small, ignore-for-release-notes

#4464 Create TestConsensusNode
  integrationTests/consensus/consensus_test.go
  integrationTests/consensus/messengerWrapper.go
  integrationTests/consensus/testInitializer.go
  integrationTests/frontend/staking/staking_test.go
  integrationTests/frontend/wallet/dataField_test.go
  integrationTests/mock/blockProcessorMock.go
  integrationTests/multiShard/block/interceptedHeadersSigVerification/interceptedHeadersSigVerification_test.go
  integrationTests/multiShard/transaction/txRouting/txRouting_test.go
  integrationTests/node/heartbeat/heartbeat_test.go
  integrationTests/singleShard/transaction/interceptedResolvedTx/interceptedResolvedTx_test.go
  integrationTests/testConsensusNode.go
  integrationTests/testInitializer.go
  integrationTests/testP2PNode.go
  integrationTests/testProcessorNode.go
  integrationTests/testProcessorNodeWithCoordinator.go
  integrationTests/testWalletAccount.go
Labels: ignore-for-release-notes, area:integration-tests

#4466 P2P signing on direct send
  consensus/spos/errors.go
  consensus/spos/worker.go
  consensus/spos/worker_test.go
  p2p/libp2p/directSender.go
  p2p/libp2p/directSender_test.go
  p2p/libp2p/export_test.go
  p2p/libp2p/mockMessenger.go
  p2p/libp2p/netMessenger.go
  p2p/libp2p/netMessenger_test.go
  p2p/mock/p2pSignerStub.go
  p2p/p2p.go
Labels: area:consensus, area:libp2p, impact:low, interested:protocol, type:refactoring, complexity:medium

#4463 Integrated multikey in consensus
  consensus/broadcast/commonMessenger.go
  consensus/broadcast/commonMessenger_test.go
  consensus/broadcast/delayedBroadcast.go
  consensus/broadcast/delayedBroadcast_test.go
  consensus/broadcast/errors.go
  consensus/broadcast/export.go
  consensus/broadcast/metaChainMessenger.go
  consensus/broadcast/metaChainMessenger_test.go
  consensus/broadcast/shardChainMessenger.go
  consensus/broadcast/shardChainMessenger_test.go
  consensus/interface.go
  consensus/mock/broadcastMessangerMock.go
  consensus/spos/bls/blsWorker_test.go
  consensus/spos/bls/export_test.go
  consensus/spos/bls/subroundBlock.go
  consensus/spos/bls/subroundEndRound.go
  consensus/spos/bls/subroundEndRound_test.go
  consensus/spos/bls/subroundSignature.go
  consensus/spos/bls/subroundStartRound.go
  consensus/spos/consensusState.go
  consensus/spos/consensusState_test.go
  consensus/spos/errors.go
  consensus/spos/interface.go
  consensus/spos/roundConsensus.go
  consensus/spos/roundConsensus_test.go
  consensus/spos/sposFactory/sposFactory.go
  consensus/spos/sposFactory/sposFactory_test.go
  consensus/spos/subround.go
  consensus/spos/subround_test.go
  consensus/spos/worker.go
  factory/consensusComponents.go
  factory/cryptoComponents.go
  factory/cryptoComponentsHandler.go
  factory/interface.go
  factory/mock/cryptoComponentsMock.go
  heartbeat/interface.go
  heartbeat/sender/multikeyHeartbeatSender.go
  integrationTests/consensus/testInitializer.go
  integrationTests/mock/cryptoComponentsStub.go
  integrationTests/multiShard/block/interceptedHeadersSigVerification/interceptedHeadersSigVerification_test.go
  integrationTests/singleShard/block/consensusNotAchieved/consensusNotAchieved_test.go
  integrationTests/singleShard/block/executingMiniblocks/executingMiniblocks_test.go
  integrationTests/sync/basicSync/basicSync_test.go
  integrationTests/testInitializer.go
  integrationTests/testProcessorNode.go
  integrationTests/testProcessorNodeWithMultisigner.go
  keysManagement/keysHandler.go
  keysManagement/keysHolder.go
  keysManagement/keysHolder_test.go
  node/mock/factory/cryptoComponentsStub.go
  node/nodeTesting_test.go
  p2p/libp2p/netMessenger.go
  testscommon/keysHandlerSingleSignerMock.go
  testscommon/keysHandlerStub.go
  testscommon/keysHolderStub.go
Labels: type:feature, area:consensus, complexity:high, impact:high, interested:protocol, interested:validator, size:large, type:refactoring, area:multikey

#4484 Keys holder renaming
  errors/errors.go
  factory/cryptoComponents.go
  factory/cryptoComponentsHandler.go
  factory/cryptoComponentsHandler_test.go
  factory/heartbeatV2Components.go
  factory/interface.go
  factory/mock/cryptoComponentsMock.go
  heartbeat/errors.go
  heartbeat/interface.go
  heartbeat/sender/heartbeatSenderFactory.go
  heartbeat/sender/heartbeatSenderFactory_test.go
  heartbeat/sender/multikeyHeartbeatSender.go
  heartbeat/sender/multikeyHeartbeatSender_test.go
  heartbeat/sender/multikeyPeerAuthenticationSender.go
  heartbeat/sender/multikeyPeerAuthenticationSender_test.go
  heartbeat/sender/peerAuthenticationSenderFactory.go
  heartbeat/sender/peerAuthenticationSenderFactory_test.go
  heartbeat/sender/sender.go
  heartbeat/sender/sender_test.go
  integrationTests/mock/cryptoComponentsStub.go
  integrationTests/testHeartbeatNode.go
  integrationTests/testProcessorNode.go
  keysManagement/managedPeersHolder.go
  keysManagement/managedPeersHolder_test.go
  node/mock/factory/cryptoComponentsStub.go
  node/nodeTesting_test.go
  testscommon/managedPeersHolderStub.go
Labels: area:consensus, area:heartbeat, complexity:trivial, impact:low, interested:protocol, type:refactoring, area:multikey

#4486 FEAT: Remove covalent indexer from node
  cmd/node/config/external.toml
  config/externalConfig.go
  factory/statusComponents.go
  go.mod
  go.sum
  outport/factory/outportFactory.go
  outport/factory/outportFactory_test.go
Labels: status:work-in-progress, area:indexer, complexity:trivial, size:small, type:refactoring

#4493 Move integration tests
  go.mod
  go.sum
  integrationTests/p2p/peerDisconnecting/peerDisconnecting_test.go
  integrationTests/p2p/peerDisconnecting/seedersDisconnecting_test.go
  integrationTests/p2p/peerDiscovery/kadDht/peerDiscovery_test.go
  integrationTests/p2p/peerDiscovery/messageProcessor.go
  integrationTests/p2p/peerDiscovery/simpleMessageProcessor.go
  integrationTests/p2p/peerDiscovery/testRunnner.go
  integrationTests/p2p/pubsub/messageProcessor.go
  integrationTests/p2p/pubsub/peerReceivingMessages_test.go
  integrationTests/p2p/pubsub/unjoin_test.go
  integrationTests/testInitializer.go
  p2p/p2p.go
Labels: ignore-for-release-notes, area:integration-tests

#4478 Load pem file for p2p signing
  cmd/keygenerator/main.go
  cmd/keygenerator/p2pConverter.go
  cmd/node/config/p2p.toml
  cmd/node/flags.go
  cmd/seednode/config/p2p.toml
  cmd/seednode/main.go
  common/configParser.go
  config/config.go
  config/p2pConfig.go
  config/tomlConfig_test.go
  factory/network/networkComponents.go
  integrationTests/factory/componentsHelper.go
  integrationTests/factory/constants.go
  integrationTests/testInitializer.go
  node/nodeRunner.go
  p2p/libp2p/netMessenger.go
  p2p/libp2p/netMessenger_test.go
  p2p/libp2p/p2pSigner.go
  p2p/libp2p/rand/factory/randFactory.go
  p2p/libp2p/rand/factory/randFactory_test.go
  p2p/libp2p/rand/seedRandReader.go
  p2p/libp2p/rand/seedRandReader_test.go
  testscommon/components/components.go
Labels: area:libp2p, impact:medium, interested:tools, interested:protocol, interested:validator, type:improvement

#4497 Update crypto repo version
  go.mod
  go.sum
Labels: ignore-for-release-notes

#4499 Heartbeatv2 config extra check
  errors/errors.go
  factory/heartbeat/heartbeatV2Components.go
  factory/heartbeat/heartbeatV2Components_test.go
  heartbeat/processor/peerAuthenticationRequestsProcessor.go
Labels: area:heartbeat, complexity:trivial, impact:low, interested:protocol, type:improvement

#4508 Update p2p separate repo rc v1.4.0
  errors/errors.go
  factory/heartbeat/heartbeatV2Components.go
  factory/heartbeat/heartbeatV2Components_test.go
  heartbeat/processor/peerAuthenticationRequestsProcessor.go
Labels: ignore-for-release-notes

#4491 refactor dataTrieTracker
  common/interface.go
  epochStart/metachain/baseRewards.go
  epochStart/metachain/baseRewards_test.go
  epochStart/metachain/rewards_test.go
  epochStart/metachain/stakingDataProvider_test.go
  epochStart/metachain/systemSCs.go
  epochStart/metachain/systemSCs_test.go
  epochStart/mock/dataTrieTrackerStub.go
  factory/mock/triesHolderStub.go
  factory/processing/blockProcessorCreator_test.go
  factory/state/stateComponentsHandler_test.go
  genesis/mock/userAccountMock.go
  go.mod
  go.sum
  integrationTests/mock/triesHolderStub.go
  integrationTests/multiShard/relayedTx/relayedTx_test.go
  integrationTests/multiShard/smartContract/dns/dns_test.go
  integrationTests/multiShard/smartContract/polynetworkbridge/bridge_test.go
  integrationTests/multiShard/validatorToDelegation/validatorToDelegation_test.go
  integrationTests/state/stateTrie/stateTrie_test.go
  integrationTests/state/stateTrieSync/stateTrieSync_test.go
  integrationTests/testHeartbeatNode.go
  integrationTests/testInitializer.go
  integrationTests/testProcessorNode.go
  integrationTests/vm/arwen/arwenvm/mandosConverter/mandosConverter.go
  integrationTests/vm/arwen/arwenvm/mandosConverter/mandosConverterUtils.go
  integrationTests/vm/esdt/localFuncs/esdtLocalFunsSC_test.go
  integrationTests/vm/esdt/process/esdtProcess_test.go
  integrationTests/vm/testInitializer.go
  integrationTests/vm/txsFee/utils/utilsESDT.go
  integrationTests/vm/txsFee/validatorSC_test.go
  node/mock/accountsWrapperMock.go
  node/mock/trieHolderStub.go
  node/node.go
  node/nodeTesting_test.go
  node/node_test.go
  process/mock/accountWrapperMock.go
  process/mock/dataTrieTrackerStub.go
  process/mock/peerAccountHandlerMock.go
  process/peer/process_test.go
  process/rewardTransaction/process.go
  process/rewardTransaction/process_test.go
  process/scToProtocol/stakingToPeer.go
  process/scToProtocol/stakingToPeer_test.go
  process/smartContract/hooks/blockChainHook_test.go
  process/smartContract/process.go
  process/smartContract/process_test.go
  process/txsimulator/wrappedAccountsDB_test.go
  state/accountsDB.go
  state/accountsDB_test.go
  state/baseAccount.go
  state/baseAccount_test.go
  state/interface.go
  state/journalEntries.go
  state/trackableDataTrie.go
  state/trackableDataTrie_test.go
  testscommon/components/default.go
  testscommon/state/accountWrapperMock.go
  testscommon/state/userAccountStub.go
  testscommon/trie/dataTrieTrackerStub.go
Labels: area:trie, impact:low, interested:protocol, size:medium, type:refactoring, complexity:medium

#4506 Integration test consensus signing
  factory/consensus/consensusComponents.go
  factory/crypto/cryptoComponents.go
  factory/crypto/cryptoComponentsHandler.go
  factory/crypto/errors.go
  factory/crypto/signatureHolder.go
  factory/crypto/signatureHolder_test.go
  factory/interface.go
  factory/mock/cryptoComponentsMock.go
  integrationTests/consensus/consensusSigning_test.go
  integrationTests/consensus/consensus_test.go
  integrationTests/mock/cryptoComponentsStub.go
  integrationTests/testConsensusNode.go
  node/mock/factory/cryptoComponentsStub.go
  testscommon/components/default.go
Labels: area:consensus, area:integration-tests

#4507 New p2p version
  go.mod
  go.sum
  testscommon/p2pmocks/messengerStub.go
Labels: ignore-for-release-notes

#4514 Merge master rc v1.4.0
  cmd/node/config/enableEpochs.toml
Labels: ignore-for-release-notes

#4523 Merge rc v1.4.0 feat p2p separate repo
  cmd/node/config/enableEpochs.toml
  consensus/spos/bls/blsWorker.go
  consensus/spos/bls/blsWorker_test.go
  consensus/spos/bls/export_test.go
  consensus/spos/consensusMessageValidator.go
  consensus/spos/consensusMessageValidator_test.go
  consensus/spos/constants.go
  consensus/spos/interface.go
  consensus/spos/worker.go
  consensus/spos/worker_test.go
Labels: ignore-for-release-notes

#4520 fix accounts trie remover config value
  storage/databaseremover/factory/customDatabaseRemoverCreator.go
  storage/databaseremover/factory/customDatabaseRemoverCreator_test.go
  storage/factory/pruningStorerFactory.go
Labels: type:bug, area:storage, impact:low, interested:protocol

#4528 Merge rc v1.4.0 in multisigner 2022.09.28
  api/groups/addressGroup.go
  consensus/spos/bls/blsWorker.go
  consensus/spos/bls/blsWorker_test.go
  consensus/spos/bls/export_test.go
  consensus/spos/bls/subroundBlock.go
  consensus/spos/bls/subroundEndRound.go
  consensus/spos/bls/subroundEndRound_test.go
  consensus/spos/bls/subroundSignature.go
  consensus/spos/bls/subroundSignature_test.go
  consensus/spos/consensusMessageValidator.go
  consensus/spos/consensusMessageValidator_test.go
  consensus/spos/constants.go
  consensus/spos/interface.go
  consensus/spos/worker.go
  consensus/spos/worker_test.go
  epochStart/metachain/testTrigger.go
  epochStart/shardchain/testTrigger.go
  process/sync/metaForkDetector.go
  process/sync/metaForkDetector_test.go
  process/sync/metablock.go
  process/sync/metablock_test.go
  process/sync/shardForkDetector.go
  process/sync/shardForkDetector_test.go
  process/sync/shardblock.go
  process/sync/shardblock_test.go
  process/track/baseBlockTrack_test.go
  process/track/metaBlockTrack.go
  process/track/shardBlockTrack.go
  state/syncer/userAccountsSyncer.go
  state/syncer/validatorAccountsSyncer.go
  storage/factory/pruningStorerFactory.go
  storage/pruning/fullHistoryPruningStorer.go
  storage/pruning/fullHistoryPruningStorer_test.go
  storage/pruning/fullHistoryTriePruningStorer.go
  storage/pruning/fullHistoryTriePruningStorer_test.go
  storage/pruning/persistersTracker.go
  storage/pruning/persistersTracker_test.go
  storage/pruning/pruningStorer.go
  storage/pruning/pruningStorerArgs.go
  storage/pruning/pruningStorer_test.go
  storage/pruning/triePersistersTracker.go
  storage/pruning/triePersistersTracker_test.go
  storage/pruning/triePruningStorer.go
  storage/pruning/triePruningStorer_test.go
  testscommon/state/testTriePruningStorer.go
  trie/snapshotTrieStorageManager.go
  trie/snapshotTrieStorageManager_test.go
  trie/trieStorageManagerInEpoch.go
  trie/trieStorageManagerInEpoch_test.go
Labels: ignore-for-release-notes

#4527 Integrate new p2p repo version
  cmd/seednode/main.go
  dataRetriever/resolvers/topicResolverSender/topicResolverSender.go
  dataRetriever/txpool/memorytests/memory_test.go
  factory/network/networkComponents.go
  go.mod
  go.sum
  heartbeat/processor/directConnectionsProcessor.go
  heartbeat/processor/directConnectionsProcessor_test.go
  integrationTests/testInitializer.go
  integrationTests/testProcessorNode.go
  node/external/timemachine/fee/memoryFootprint/memory_test.go
  p2p/constants.go
  p2p/factory/factory.go
  process/interceptors/factory/interceptedDirectConnectionInfoFactory_test.go
  process/interceptors/processor/directConnectionInfoInterceptorProcessor_test.go
  process/p2p/interceptedDirectConnectionInfo.go
  process/p2p/interceptedDirectConnectionInfo_test.go
  testscommon/components/components.go
Labels: type:bug, area:libp2p, impact:low, interested:protocol, size:small, type:refactoring, complexity:medium

#4513 properly treat commitSnapshot error
  state/accountsDB.go
  trie/branchNode.go
  trie/branchNode_test.go
  trie/extensionNode.go
  trie/extensionNode_test.go
  trie/node.go
Labels: type:bug, area:trie, complexity:trivial, impact:low, interested:protocol, size:small

#4521 refactor mutex usage in the state package
  state/accountsDB.go
  state/accountsDB_test.go
  state/export_test.go
  state/peerAccountsDB.go
Labels: area:trie, impact:medium, interested:protocol, size:small, type:improvement, complexity:medium
