Repository multiversx/mx-chain-go, pull requests merged in 2023-08, with the labels that each got.

#5406 feat/go v1.20.5 integration
  .github/workflows/build_and_test.yml
  .github/workflows/check-cli-md.yml
  .github/workflows/code-coverage.yml
  .github/workflows/create_release.yml
  .github/workflows/golangci-lint.yml
  cmd/node/config/enableEpochs.toml
  cmd/node/config/p2p.toml
  cmd/seednode/config/p2p.toml
  cmd/seednode/main.go
  common/compatibility/export_test.go
  common/compatibility/quickSorter.go
  common/compatibility/quickSorter_test.go
  common/compatibility/sorter.go
  common/compatibility/sorter_test.go
  common/enablers/enableEpochsHandler.go
  common/enablers/enableEpochsHandler_test.go
  common/enablers/epochFlags.go
  common/interface.go
  config/epochConfig.go
  config/tomlConfig_test.go
  dataRetriever/factory/dataPoolFactory_test.go
  epochStart/metachain/testdata/expected-deterministic.data
  epochStart/metachain/testdata/expected-legacy.data
  epochStart/metachain/testdata/input.data
  epochStart/metachain/validators.go
  epochStart/metachain/validators_test.go
  factory/network/export_test.go
  factory/network/networkComponents.go
  factory/network/networkComponents_test.go
  go.mod
  go.sum
  integrationTests/p2p/networkSharding-hbv2/networkSharding_test.go
  integrationTests/p2p/request/requests_test.go
  integrationTests/testInitializer.go
  node/nodeDebugFactory/interceptedDebugHandler_test.go
  p2p/config/config.go
  p2p/constants.go
  sharding/mock/enableEpochsHandlerMock.go
  testscommon/components/components.go
  testscommon/enableEpochsHandlerStub.go
Labels: area:libp2p, area:processing, complexity:high, impact:medium, interested:protocol, interested:validator, size:medium, type:improvement, priority:1-I&U, area:testing

#5465 Merge master rc v1.6.0 2023.08.04
  .github/workflows/build_and_test.yml
  .github/workflows/check-cli-md.yml
  .github/workflows/code-coverage.yml
  .github/workflows/create_release.yml
  .github/workflows/golangci-lint.yml
  cmd/node/config/enableEpochs.toml
  cmd/node/config/fullArchiveP2P.toml
  cmd/node/config/p2p.toml
  cmd/seednode/config/p2p.toml
  cmd/seednode/main.go
  common/compatibility/export_test.go
  common/compatibility/quickSorter.go
  common/compatibility/quickSorter_test.go
  common/compatibility/sorter.go
  common/compatibility/sorter_test.go
  common/constants.go
  common/enablers/enableEpochsHandler.go
  common/enablers/enableEpochsHandler_test.go
  common/enablers/epochFlags.go
  common/interface.go
  config/epochConfig.go
  config/tomlConfig_test.go
  epochStart/bootstrap/factory/epochStartInterceptorsContainerFactory.go
  epochStart/bootstrap/process.go
  epochStart/metachain/testdata/expected-deterministic.data
  epochStart/metachain/testdata/expected-legacy.data
  epochStart/metachain/testdata/input.data
  epochStart/metachain/validators.go
  epochStart/metachain/validators_test.go
  factory/network/export_test.go
  factory/network/networkComponents.go
  factory/network/networkComponents_test.go
  factory/processing/processComponents.go
  go.mod
  go.sum
  integrationTests/p2p/networkSharding-hbv2/networkSharding_test.go
  integrationTests/p2p/peersRating/peersRating_test.go
  integrationTests/p2p/request/requests_test.go
  integrationTests/realcomponents/processorRunner.go
  integrationTests/testInitializer.go
  integrationTests/testProcessorNode.go
  node/nodeRunner.go
  p2p/config/config.go
  p2p/constants.go
  process/factory/interceptorscontainer/args.go
  process/factory/interceptorscontainer/baseInterceptorsContainerFactory.go
  process/factory/interceptorscontainer/metaInterceptorsContainerFactory_test.go
  process/factory/interceptorscontainer/shardInterceptorsContainerFactory_test.go
  sharding/mock/enableEpochsHandlerMock.go
  testscommon/components/components.go
  testscommon/enableEpochsHandlerMock/enableEpochsHandlerStub.go
  testscommon/marshallerStub.go
  update/factory/exportHandlerFactory.go
  update/factory/fullSyncInterceptors.go
Labels: ignore-for-release-notes

#5381 Snapshot in latest storer fix
  common/interface.go
  epochStart/bootstrap/disabled/disabledAccountsAdapter.go
  integrationTests/state/stateTrie/stateTrie_test.go
  integrationTests/state/stateTrieSync/stateTrieSync_test.go
  process/block/metablock.go
  process/block/shardblock.go
  process/transactionEvaluator/simulationAccountsDB.go
  process/transactionEvaluator/simulationAccountsDB_test.go
  state/accountsDB.go
  state/accountsDBApi.go
  state/accountsDBApiWithHistory.go
  state/accountsDBApiWithHistory_test.go
  state/accountsDBApi_test.go
  state/accountsDB_test.go
  state/errors.go
  state/export_test.go
  state/interface.go
  state/iteratorChannelsProvider/peerStateIteratorChannelsProvider.go
  state/iteratorChannelsProvider/userStateIteratorChannelsProvider.go
  state/peerAccountsDB.go
  state/peerAccountsDB_test.go
  state/snapshotsManager.go
  state/snapshotsManager_test.go
  state/stateMetrics/stateMetrics.go
  state/stateMetrics/stateMetrics_test.go
  testscommon/iteratorChannelsProviderStub.go
  testscommon/state/accountsAdapterStub.go
  testscommon/state/stateMetricsStub.go
  testscommon/trie/statisticsMock.go
  trie/trieStorageManager.go
  trie/trieStorageManager_test.go
Labels: type:bug, area:trie, impact:low, interested:protocol, size:medium, complexity:medium

#5450 Mx 14324 sovereing refactor factories 2
  dataRetriever/requestHandlers/interface.go
  dataRetriever/requestHandlers/resolverRequestHandlerFactory_test.go
  dataRetriever/requestHandlers/sovereignResolverRequestHandlerFactory.go
  dataRetriever/requestHandlers/sovereignResolverRequestHandlerFactory_test.go
  errors/errors.go
  factory/processing/blockProcessorCreator.go
  factory/processing/interface.go
  factory/processing/processComponents.go
  genesis/process/interface.go
  genesis/process/shardGenesisBlockCreator.go
  process/block/argProcessor.go
  process/block/interface.go
  process/block/metablock_test.go
  process/block/shardBlockProcessorFactory.go
  process/block/shardBlockProcessorFactory_test.go
  process/block/shardHeaderValidatorFactory.go
  process/block/shardHeaderValidatorFactory_test.go
  process/block/sovereignBlockProcessorFactory.go
  process/block/sovereignBlockProcessorFactory_test.go
  process/block/sovereignChainHeaderValidatorFactory.go
  process/block/sovereignChainHeaderValidatorFactory_test.go
  process/coordinator/interface.go
  process/coordinator/shardTransactionCoordinatorFactory.go
  process/coordinator/shardTransactionCoordinatorFactory_test.go
  process/coordinator/sovereignChainProcess.go
  process/coordinator/sovereignTransactionCoordinatorFactory.go
  process/coordinator/sovereignTransactionCoordinatorFactory_test.go
  process/errors.go
  process/interface.go
  process/peer/interface.go
  process/peer/sovereignValidatorStatisticsProcessorFactory.go
  process/peer/sovereignValidatorStatisticsProcessorFactory_test.go
  process/peer/validatorStatisticsProcessorFactory.go
  process/peer/validatorStatisticsProcessorFactory_test.go
  process/sync/interface.go
  process/sync/shardForkDetector.go
  process/sync/shardForkDetectorFactory.go
  process/sync/shardForkDetectorFactory_test.go
  process/sync/sovereignForkDetectorFactory.go
  process/sync/sovereignForkDetectorFactory_test.go
  process/track/interface.go
  process/track/shardBlockTrackerFactory.go
  process/track/shardBlockTrackerFactory_test.go
  process/track/sovereignBlockTrackerFactory.go
  process/track/sovereignBlockTrackerFactory_test.go
  testscommon/blockTrackerStub.go
  testscommon/extendedShardHeaderTrackerStub.go
Labels: area:processing

#5462 added factories back
  factory/processing/interface.go
  factory/processing/processComponents.go
  process/block/preprocess/interfaces.go
  process/block/preprocess/shardScheduledTxsExecutionFactory.go
  process/block/preprocess/shardScheduledTxsExecutionFactory_test.go
  process/block/preprocess/smartContractResultPreProcessorCreatorArgs.go
  process/block/preprocess/smartContractResultPreProcessorFactory.go
  process/block/preprocess/smartContractResultPreProcessorFactory_test.go
  process/block/preprocess/sovereignScheduledTxsExecutionFactory.go
  process/block/preprocess/sovereignScheduledTxsExecutionFactory_test.go
  process/block/preprocess/sovereignSmartContractResultPreProcessorFactory.go
  process/block/preprocess/sovereignSmartContractResultPreProcessorFactory_test.go
  process/factory/shard/interface.go
  process/factory/shard/preProcessorsContainerFactory.go
  process/smartContract/processProxy/export_test.go
  process/smartContract/processProxy/scProcessFactory.go
  process/smartContract/processProxy/scProcessFactory_test.go
  process/smartContract/processorV2/export_test.go
  process/smartContract/processorV2/scProcessFactory.go
  process/smartContract/processorV2/scProcessFactory_test.go
  process/smartContract/processorV2/sovereignSCProcessFactory.go
  process/smartContract/processorV2/sovereignSCProcessFactory_test.go
  process/smartContract/scrCommon/interface.go
Labels: area:processing

#4804 Dynamic gas data trie loads
  cmd/node/config/enableEpochs.toml
  cmd/node/config/gasSchedules/gasScheduleV1.toml
  cmd/node/config/gasSchedules/gasScheduleV2.toml
  cmd/node/config/gasSchedules/gasScheduleV3.toml
  cmd/node/config/gasSchedules/gasScheduleV4.toml
  cmd/node/config/gasSchedules/gasScheduleV5.toml
  cmd/node/config/gasSchedules/gasScheduleV6.toml
  cmd/node/config/gasSchedules/gasScheduleV7.toml
  common/enablers/enableEpochsHandler.go
  common/enablers/epochFlags.go
  common/interface.go
  config/epochConfig.go
  config/tomlConfig_test.go
  go.mod
  go.sum
  integrationTests/benchmarks/loadFromTrie_test.go
  integrationTests/testInitializer.go
  integrationTests/testProcessorNode.go
  integrationTests/testProcessorNodeWithMultisigner.go
  integrationTests/vm/txsFee/apiTransactionEvaluator_test.go
  integrationTests/vm/txsFee/asyncCall_multi_test.go
  integrationTests/vm/txsFee/asyncCall_test.go
  integrationTests/vm/txsFee/asyncESDT_test.go
  integrationTests/vm/txsFee/dns_test.go
  integrationTests/vm/txsFee/dynamicGasCost_test.go
  integrationTests/vm/txsFee/multiShard/asyncCall_test.go
  integrationTests/vm/txsFee/multiShard/asyncESDT_test.go
  integrationTests/vm/txsFee/multiShard/builtInFunctions_test.go
  integrationTests/vm/txsFee/multiShard/relayedTxScCalls_test.go
  integrationTests/vm/txsFee/multiShard/scCalls_test.go
  integrationTests/vm/txsFee/relayedAsyncESDT_test.go
  integrationTests/vm/txsFee/relayedScCalls_test.go
  integrationTests/vm/txsFee/scCalls_test.go
  integrationTests/vm/wasm/testdata/trieStoreAndLoad/storage.wasm
  integrationTests/vm/wasm/utils.go
  sharding/mock/enableEpochsHandlerMock.go
  testscommon/enableEpochsHandlerMock/enableEpochsHandlerStub.go
Labels: impact:medium, interested:sc, interested:protocol, size:medium, type:improvement, complexity:medium

#5507 Fixed go build commands
  .github/workflows/create_release.yml
  cmd/node/main.go
  docker/multiversx/Dockerfile
  docker/termui/Dockerfile
Labels: ignore-for-release-notes

#5524 fix data race in tests
  dataRetriever/topicSender/topicResolverSender_test.go
Labels: ignore-for-release-notes

#5518 Update master rc v1.6.0 2023.08.23
  .github/workflows/build_and_test.yml
  .github/workflows/check-cli-md.yml
  .github/workflows/code-coverage.yml
  .github/workflows/create_release.yml
  .github/workflows/golangci-lint.yml
  cmd/node/config/enableEpochs.toml
  cmd/node/main.go
  docker/keygenerator/Dockerfile
  docker/node/Dockerfile
  docker/seednode/Dockerfile
  docker/termui/Dockerfile
Labels: ignore-for-release-notes

#5527 Merge rc160 into feat vmquery with coord 2023.08.25
  .github/workflows/build_and_test.yml
  .github/workflows/check-cli-md.yml
  .github/workflows/code-coverage.yml
  .github/workflows/create_release.yml
  .github/workflows/golangci-lint.yml
  cmd/node/config/enableEpochs.toml
  cmd/node/main.go
  dataRetriever/topicSender/topicResolverSender_test.go
  docker/keygenerator/Dockerfile
  docker/node/Dockerfile
  docker/seednode/Dockerfile
  docker/termui/Dockerfile
Labels: ignore-for-release-notes

#5522 Fixes in import-db for rc/v1.6.0
  dataRetriever/requestHandlers/requesters/disabled/requester.go
  state/export_test.go
  state/snapshotsManager.go
  state/snapshotsManager_test.go
Labels: type:bug, area:trie, impact:medium, interested:protocol, size:small, complexity:medium

#5491 New methods enable epochs handler
  common/constants.go
  common/enablers/enableEpochsHandler.go
  common/enablers/enableEpochsHandler_test.go
  common/interface.go
  go.mod
  go.sum
  sharding/mock/enableEpochsHandlerMock.go
  state/parsers/dataTrieLeafParser.go
  state/parsers/dataTrieLeafParser_test.go
  state/trackableDataTrie/trackableDataTrie.go
  state/trackableDataTrie/trackableDataTrie_test.go
  testscommon/enableEpochsHandlerMock/enableEpochsHandlerStub.go
  trie/patriciaMerkleTrie_test.go
Labels: area:processing, impact:low, interested:protocol, type:refactoring, complexity:medium
